### PlatformIO ###
# Build/Environment
esp32_firmware/.pio/
esp32_firmware/.pioenvs/
esp32_firmware/.piolibdeps/
esp32_firmware/.env

# Binaries/Compiled
esp32_firmware/*.bin
esp32_firmware/*.elf
esp32_firmware/*.hex

### Python ###
# Bytecode/Virtualenv
__pycache__/
*.py[cod]
venv/
.venv/

# IDE/Editor
.vscode/
.idea/
*.swp

# System
.DS_Store
Thumbs.db